:root {
    --orange: #FF9500;
    --dark-gray: #505050;
   
    --light-gray: #D4D4D2;
    --black: #1C1C1C;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {

    display: flex;
    flex-direction: column;
    width: 250px;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    
}

.container .bottom {
    display: flex;
    gap: 10px;
    
}


.container .bottom .left, 
.container .bottom .right  {
    /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    
}

.container .bottom .left>* {
    flex: 0 0 33.3333%;
   
  }
  .container .bottom .right>* {
    flex: 0 0 100%;
   
  }





.myBtn {
    background-color: var(--dark-gray) ;
}


.container button {
    width: 50px;
    height: 50px;
    /* border-radius: 90px; */
    color: white;
    /* font-weight: 1000; */
    font-size: 24px;
    
}



.evalBtn, .clearBtn, .right button {
    background-color: var(--orange);
}

.container .display {
    display: flex;
    width: 50%;
    height: 25px;
    background-color: var(--light-gray);
    margin-bottom: 20px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    color: var(--black);
    /* font-weight: 1000; */
    font-size: 24px;
}